extends layout

block stylesheet
  link(rel='stylesheet',type='text/css',href='/css/mailpipe-gate.css')

block content
  .container
    .row
      .span2.offset3.login-box
        .icon
          img(src='/images/illustrations/mail.png',alt='Welcome to MailPipe')
          h4
            | Welcome to 
            small MailPipe
      .span5
        form.login-form(action='/forget-result.html')
          .control-group
            input.login-field#email(type='text',placeholder='Email',name='email')
            label.login-field-icon.fui-mail-16(for='email')
          button.btn.btn-large.btn-block(type='submit') Forget password