extends layout

block content
  .container
    .nav.pull-right
      a.btn(href='#signin') Sign in

    .jumbotron
      h1 Mail Pipe
      p.lead
        | Redirect any mail to your services.

      a.btn.btn-large.btn-success(href='#register') Register now!

    hr
