extends layout

block content
  .container
    .nav.pull-right
      a.btn(href='/login.html') Login

    .jumbotron
      h1 Mail Pipe
      p.lead
        | Mail inbox for your service
      hr
      p.lead Want to try, leave your e-mail here. We will send an account to you.
      .invite-box
        input.input-xlarge(type='text',name='email',placeholder='Your e-mail address')
        button.btn.btn-large.btn-success Submit
