html
  head
    title= title

    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet',type='text/css',href='/css/bootstrap.css')
    link(rel='stylesheet',type='text/css',href='/css/bootstrap-responsive.css') 
    link(rel='stylesheet',type='text/css',href='/css/select2.css')
    link(rel='stylesheet',type='text/css',href='/css/flat-ui.css')
    link(rel='stylesheet',type='text/css',href='/css/mailpipe.css')
    block stylesheet

    link(rel='shortcut icon',href='/image/favicon.ico')

  body
    block content
    
    script(src='/javascripts/jquery-2.0.0.min.js')
    script(src='/javascripts/underscore-min.js')
    script(src='/javascripts/custom_radio.js')
    script(src='/javascripts/select2.min.js')
    script(src='/javascripts/backbone-min.js')
    script(src='/javascripts/mailpipe.js')
    block script