extends layout

block stylesheet
  link(rel='stylesheet',type='text/css',href='/css/mailpipe-main.css')

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        ul.nav
          li
            a.brand(href='/main.html') MailPipe
          li
            a(href='/main.html') Services
        ul.nav.pull-right
          li
            a(href='#') Logged in as #{user.username}
            ul.user-actions
              li
                a(href='/users/profile.html') Profile
              li
                a(href='/users/logout') Logout
  .container-fluid.content
    block inner-content

