extends loggedin-layout

block script
  script(type='text/javascript')
    $(document).ready(function () {
      new ServicesView;
    });

block inner-content
  .row-fluid
    .span3
      input(type='hidden',id='csrf',name='csrf',value='#{token}')
      a.btn.btn-block.btn-large.service-add(href='/services/add.html') Add new service
      ul.service-list
    .span9.service-detail
          