extends loggedin-layout

block script
  script(type='text/javascript')
    $(document).ready(function () {
      new ServicesView;
    });

block inner-content
  .row-fluid
    .span3
      a.btn.btn-block.btn-large.service-add(href='/services/add.html') Add new service
      ul.service-list
    .span9.service-detail
      .row-fluid
        .span9
          h2 
            | Service2 
            small user+service@mailpipe.llun.in.th
        .span3
          ul.actions
            li
              a.btn(href='/services/update.html') Edit
            li
              a.btn.btn-danger(href='#') Delete
      .row-fluid
        .span12
          ul.mails
            li.mail 
              .status.badge.badge-success.pull-right sent
              .timestamp.pull-right 3 mins ago
              .from 
                span.label From
                span.address someone &lt;someone@mail.service.com&gt;
            li.mail 
              .status.badge.badge-important.pull-right error
              .timestamp.pull-right 4 mins ago
              .from
                span.label From
                span.address someone &lt;nouser@mail.service.com&gt;
              .error
                p Not authorize user
            li.mail 
              .status.badge.badge-success.pull-right sent
              .timestamp.pull-right 5 mins ago
              .from 
                span.label From
                span.address someone &lt;someone@mail.service.com&gt;
            li.mail 
              .status.badge.badge-success.pull-right sent
              .timestamp.pull-right 5 mins 21 seconds ago
              .from 
                span.label From
                span.address someone &lt;someone@mail.service.com&gt;
            li.mail 
              .status.badge.badge-success.pull-right sent
              .timestamp.pull-right 5 mins 39 seconds ago
              .from 
                span.label From
                span.address someone &lt;someone@mail.service.com&gt;
          