extends layout

block stylesheet
  link(rel='stylesheet',type='text/css',href='/css/mailpipe-main.css')

block content
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container-fluid
        ul.nav
          li
            a.brand(href='#') MailPipe
          li
            a(href='#') Services
        ul.nav.pull-right
          li
            a(href='#') Logged in as username
  .container-fluid
    .row-fluid
      .span3
        a.btn.btn-block.btn-large.service-add(href='#') Add new service
        ul.service-list
          li
            .toggle(style='float: right')
              label.toggle-radio(for='service1-on') ON
              input#service1-on(type='radio',name='service1',value='on',checked='checked')
              label.toggle-radio(for='service1-off') OFF
              input#service1-off(type='radio',name='service1',value='off')
            label.service-label Service1
            .service-info
              span.service-received 13 received
              span.service-sent 3 sent
              span.service-error 10 error
          li
            label.service-label Service2
            .service-info
              span.service-received 0 received
              span.service-sent 0 sent
              span.service-error 0 error
          li
            label.service-label Service3
            .service-info
              span.service-received 0 received
              span.service-sent 0 sent
              span.service-error 0 error

  footer
    .container-fluid
      .row-fluid
        .span3.offset3
          p
            | Hello, World
