extends loggedin-layout

block inner-content
  .row-fluid
    .span3.span6
      form.form-horizontal
        .control-group
          label.control-label(for='email') Email
          .controls
            input(type='text',id='email',name='email')