extends layout

block stylesheet
  link(rel='stylesheet',type='text/css',href='/css/mailpipe-gate.css')

block content
  .container
    .row
      .span2.offset3.login-box
        .icon
          img(src='/images/icons/Mail.png',alt='Welcome to MailPipe')
          h4
            | Welcome to 
            small MailPipe
      .span5
        form.login-form(action='/users/register',method='post')
          if flash.error && flash.error.length > 0
            .alert.alert-error
              ul
                each object, key in flash.error[0].errors
                  if object.type == 'required'
                    li #{key} is required
                  else
                    li= object.type
          .control-group
            input.login-field#username(type='text',placeholder='Username',name='username')
            label.login-field-icon.fui-man-16(for='username')
          hr
          .control-group
            input.login-field#password(type='password',placeholder='Password',name='password')
            label.login-field-icon.fui-lock-16(for='password')
          .control-group
            input.login-field#confirm(type='password',placeholder='Confirm Password',name='confirm')
            label.login-field-icon.fui-lock-16(for='confirm')
          hr
          .control-group
            input.login-field#email(type='text',placeholder='Email',name='email')
            label.login-field-icon.fui-mail-16(for='email')
          input(type='hidden',name='_csrf',value='#{token}')
          button.btn.btn-large.btn-block(type='submit') Register
