@turquoise: #1ABC9C;
@green-sea: #16A085;
@emerland: #2ECC71;
@nephritis: #27AE60;
@peter-river: #3498DB;
@belize-hole: #2980B9;
@amethyst: #9B59B6;
@wisteria: #8E44AD;
@wet-asphalt: #34495E;
@midnight-blue: #2C3E50;
@sun-flower: #F1C40F;
@orange: #F39C12;
@carrot: #E67E22;
@pumpkin: #D35400;
@alizarin: #E74C3C;
@pomegranate: #C0392B;
@cloud: #ECF0F1;
@silver: #BDC3C7;
@concrete: #95A5A6;
@asbestos: #7F8C8D;

.btn {
  border-radius: 0;
  border-bottom: 2px solid @concrete;
  border-right: 2px solid @concrete;

  &.btn-danger {
    border-bottom-color: @pomegranate;
    border-right-color: @pomegranate;
  }

  &.btn-primary {
    border-bottom-color: @green-sea;
    border-right-color: @green-sea;
  }

  &.btn-success {
    border-bottom-color: @nephritis;
    border-right-color: @nephritis;
  }
}

.badge {
  border-radius: 0;
}

.alert {
  border-radius: 0;
  padding: 8px 35px 8px 14px;
  font-weight: bolder;

  &.alert-error {
    color: @pomegranate;
  }

}

body {
  padding-bottom: 40px;
  padding-top: 20px;
  font-family: "Lato", "san-serif";

  .jumbotron {
    margin: 60px;
    text-align: center;

    h1 {
      font-size: 72px;
      line-height: 1;
    }

    .invite-box {
      vertical-align: middle;

      input {
        margin-right: 10px;
        margin-bottom: 0;
        padding-bottom: 12px;
        padding-top: 13px;
        font-size: 1.25em;

        border-radius: 0;
      }

      @media all and (max-width: 768px) {
        input {
          margin-bottom: 10px;
          margin-right: 0;
        }

        button {
          width: 100%;
        }
      }


    }
  }

  .toggle {

    background-color: #2ecc71;

    .toggle-radio,
    &.toggle-off .toggle-radio {
      background: none;
      color: white;
    }

    .knob-on {
      position: absolute;
      width: 21px;
      height: 21px;
      display: block;
      background: #198748;
      border-radius: 21px;
      top: 4px;
      right: 5px;
    }

    .knob-off {
      position: absolute;
      width: 21px;
      height: 21px;
      display: block;
      background: #7f8b97;
      border-radius: 21px;
      top: 4px;
      left: 5px;
    }
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    padding: 10px 0 0 0;

    .nav {
      margin: 0px;

      li {
        list-style-type: none;
        display: inline;
        margin-right: 10px;

        a {
          display: inline;
        }
      }
    }

    p {
      margin: 0px;
    }
  }

  .select2-input {
    height: 28px !important;
  }

}
