body {
  padding-top: 60px;

  @media (max-width: 986px) {
    padding-top: 0px;
  }

  .navbar {

    border-bottom: 4px solid @midnight-blue;

    .nav ul {
      border-radius: 0;
    
      a:hover {
        border-radius: 0;
        background: white;
        color: @wet-asphalt;
      }

      li {
        border-right: 4px solid @midnight-blue;
      }

      li:first-child {
        border-radius: 0;
      }

      li:last-child {
        border-radius: 0;
        border-bottom: 4px solid @midnight-blue;
      }
    }

    .nav > li > a {
      border-bottom: none;
      border-radius: 0;

      &:hover, &:focus {
        background: white;
        color: @wet-asphalt;
      }
    }

    .nav.pull-right > li > a {
      border-radius: 0;
    }

    .brand {
      border-bottom: none;
    }

  }

  .content {

    a.service-add {
      border-radius: 0;
      border-right: 4px solid @belize-hole;
      background-color: @peter-river;
      font-weight: bolder;
    }

    ul.service-list {
      padding: 0;

      border-radius: 0;

      label.service-label {
        font-size: 16.5px;
        font-weight: bolder;
      }

      .service-info span {
        margin-right: 6px;
      }

      li {
        padding: 10px;
        margin-bottom: 0;
        border-right: 4px solid @silver;

        &.active{
          color: white;
          background-color: @concrete;
          border-right: 4px solid @asbestos;

          &:last-child {
            border-bottom: 4px solid @asbestos;
          }
        }

        & > .switch {
          float: right;
          height: 30px;
        }

        &:last-child {
          border-bottom: 4px solid @silver;
        }

      }
    }
    // end of service-list

    .service-detail{ 

      h3 {
        margin: 10px 0 4px 0;
      }

      ul.actions {
        list-style: none;
        margin-top: 10px;

        li {
          display: inline;
          margin-right: 4px;
        }
      }

      ul.mails {
        background-color: @cloud;
        list-style: none;
        margin-left: 0;

        li.mail {
          padding: 10px;
          border-top: none;
          border-bottom: 1px solid @silver;

          &:last-child {
            border-bottom: none;
          };

          .timestamp {
            color: @silver;
            font-weight: 100;
            font-size: 11px;
          }

          .status {
            margin-left: 6px;
          }

          .from {
            .label { margin-right: 6px; }
            .address { 
              margin-right: 6px; 
              font-weight: bold;
            }
          }

          .error p {
            padding-left: 10px;
            font-size: 14px;
            font-weight: bolder;
            color: @alizarin;
            margin-top: 2px;
            margin-bottom: 0;
          }
        }
      }
      // end of mails
    }
    // end of service-detail

    .service-new, .profile {

      margin-top: 10px;
      background-color: @cloud;
      border-bottom: 4px solid @silver;
      border-right: 4px solid @silver;

      h3 {
        margin-left: 10px;
      }

      form {
        margin-top: 20px;

        .control-group {
          padding-right: 40px;
        }

        label {
          font-weight: bold;
        }

        input[type='text'],
        input[type='password'] {
          border-radius: 0;

          border-top: none;
          border-right: none;

          &:focus + .form-field-icon {
            color: @turquoise;
          };
        }

        .form-field-icon {
          position: relative;
          right: 22px;
          top: 3px;

          color: @silver;
        }

        ul {
          list-style: none;
          margin-left: 0;

          li {
            margin-right: 6px;
            display: inline;
          }
        }

        .alert {
          display: none;
          ul {
            list-style: circle;
            margin-bottom: 0;
            li {
              display: block;
            }
          }
        }

        .authentication-info {
          display: none;
        }

      }
    }

  }
  // end of content
  
}
